.App {
  text-align: center;
}

/* Original CSS from Codepen Prototype
 * TODO: refactor
 */

* {
 box-sizing: border-box;
 font-family: sans-serif;
 --bg-color: #282a2e;
 --bg-color2: #3a3d42;
 --dark-accent-color: #362161;
 --accent-color: #cab0ff;
 --text-color: #f3f2f5;
}

body {
 margin: 0;
 background-color: var(--bg-color2);
 color: var(--text-color);
}

nav {
 height: 100px;
 display: flex;
 padding-left: 10px;
 flex-direction: row;
 align-items: center;
 background-color: var(--bg-color);
 color: var(--text-color);
}

nav input, nav button {
 background-color: var(--bg-color);
 color: var(--text-color);
}

article {
  margin: 20px;
}

#team-display {
  display: flex;
  flex-direction: row;
}
div#not-dps {
  display: flex;
  flex-direction: column;
}
section#dps-jobs {
  display: flex;
  flex-direction: column;
}
section#unknown-role {
  display: flex;
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

input[type='text'] {
 border: 0px;
 border-bottom: 1px solid var(--accent-color);
 margin: 0px 5px;
 padding: 5px 10px;
}
input[type='text']:before {
 content: "https://etro.gg/gearset/";
 border: 3px solid orange;
}
input[type='text']:focus {
 width: 300px;
}
select {
 background-color: var(--bg-color);
 color: var(--text-color);
 border: none;
 border-bottom: 2px solid var(--accent-color);
 font-size: 18px;
}
button {
 border: 1px solid var(--accent-color);
 margin: 0px 5px;
 padding: 5px 10px;
}

details {
 width: 400px;
 margin: 10px;
 border: 2px solid var(--role);
 border-radius: 5px;
 /* Allow positioning the checkmark */
 position: relative;
}

summary {
 padding: 10px;
 background-color: var(--role);
 border-radius: 5px 5px 0 0;
}

.tank {
 --role: #01094a;
}

.heal {
 --role: #003306;
}

.dps {
 --role: #4a0101;
}

.unknown-role {
  --role: var(--dark-accent-color);
}

.gear-tile {
 margin: 5px;
 padding: 5px;
 border-radius: 2px;
 display: grid;
 grid-template-areas:
  'img slot'
  'img name';
 grid-template-columns: 40px 1fr;
}

.gear-tile input[type='checkbox'] {
 position: absolute;
 left:-10000px;
}

.isChecked {
 background-color: var(--role);
}
.isChecked img {
 filter: grayscale(100%);
}
.isChecked::before {
 content: '✔';
 position: absolute;
 z-index: 10;
 font-size: 30px;
 left: 17px;
 color: var(--role);
 text-shadow: 0px 0px 5px white;
}

.gear-icon {
 width: 40px;
 height: 40px;
 grid-area: img;
}

.gear-slot {
 font-size: 10px;
 color: grey;
 grid-area: slot;
 padding-left: 5px;
}

.gear-name {
 grid-area: name;
 padding-left: 10px;
 font-size: 18px;
}